/* src/styles/AddPatient.css */

.add-patient-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    width: 100%; /* Asegura que el contenedor de la tarjeta ocupe todo el ancho disponible */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .card-header {
    background-color: #28a745; /* Verde */
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
  }
  
  .card-body {
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #34495e;
    text-align: left;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #2980b9;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  