/* src/styles/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #99AE51;
  padding: 1em;
}

.navbar-brand {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
}
